<%= form_with(model: diet_management, local: true) do |form| %>
  <% if diet_management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diet_management.errors.count, "error") %> prohibited this diet_management from being saved:</h2>

      <ul>
      <% diet_management.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :menu %>
    <%= form.text_field :menu %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
