<p id="notice"><%= notice %></p>

<h1>Diet Managements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diet_managements.each do |diet_management| %>
      <tr>
        <td><%= diet_management.name %></td>
        <td><%= diet_management.menu %></td>
        <td><%= link_to 'Show', diet_management %></td>
        <td><%= link_to 'Edit', edit_diet_management_path(diet_management) %></td>
        <td><%= link_to 'Destroy', diet_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diet Management', new_diet_management_path %>
