<p id="notice"><%= notice %></p>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Menu</th>
      
    </tr>
  </thead>

  <tbody>
    <% @managements.each do |management| %>
      <tr>
        <td><%= link_to management.user.name, management, class: 'widelink' %></td>
        <td><%= link_to management.category.name, management, class: 'widelink' %></td>
        <td><%= link_to management.menu, management, class: 'widelink' %></td>
        <td>
          <% if current_user.already_favorited?(management) %>
            <%= link_to management_favorites_path(management), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to management_favorites_path(management), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <%= management.favorites.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Management', new_management_path, class: 'btn btn-primary' %>
