<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @management.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @management.category.name %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @management.menu %>
</p>


<% if user_signed_in? && @management.user_id == current_user.id %>
<%= link_to 'Delete', @management, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <%= link_to 'Edit', edit_management_path(@management), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back', managements_path, class: 'btn btn-default' %>
